body {
  background-color: #F0F0F0;
  padding: 5px 10vw;

}

.title-wrapper {
  background-color: white;
  flex-grow: 1;
}
.conteneur{
  display:flex;
  flex-direction: column;
}
.item-wrapper{
  display:flex;
  padding: 2px;
  flex-direction: row;
}


@media screen and (min-width:768px){
  .item-wrapper{
    flex-direction: column;
    padding: 2px;
    width: auto;
  }
  .conteneur{
    flex-direction: row;
    flex-wrap:wrap;
  }
}